<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Count</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="above">
        <div style="background-color: rgb(72, 143, 169); color:white;;" id="editAll">

    <h2> Number Of User Registered are : <%= userCount %></h2>
    <!-- <a href="http://localhost:3000/user">Join Us!!</a> -->
    <form method="get" action="/user/">
        <button style="background-color: black;">Join Us!!</button>
    </form>

    </div>
    </div>

</body>
</html>