<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Account</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="above">
        <div id="editAll">
    <h2>Setup new Account</h2>
    <form method="post" action="/user/new">
        <input required class="input"  type="text" name="username" placeholder="Enter UserName">
        <input  required class="input"  type="Email" placeholder="Enter Email" name="email">
        <input required class="input"  type="password" name="password" placeholder="Enter Password">
        <button>Create Account</button>
     
    </form>
</body>
</html>